---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    {% include scripts.html %}
    
    <!-- ClustrMaps Tracking -->
    <div style="display: none;">
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=baAPZq63tUFM-xP94R5AORwimv_Tq29xsiwSiQplvwM"></script>
    </div>
    
  </body>
</html>
